# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# 忽略所有文件
*

# 要上传的文件类型
!*/
# !*.md
# !*.pdf
# !*docx
# !*doc
# !*png
# !*jpg
# !*jpeg
# !*gif
# !*bmp
# !*webp
# !*ico
# !*svg
# !*tif
# !*tiff
# !*zip
# !*pdf
# !*txt
# !*html


# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.flv
*.mp4

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
