# Git 会遍历所有目录，但只跟踪 .md 等文件

# 忽略所有文件
*
*.idea
!/.obsidian/

# 取消忽略所有目录（确保Git能进入子目录追踪其中的 .md 文件）
!*/

# 取消忽略所有以.md等结尾的文件
!*.md
!.gitignore
!*.pdf
#!*.java

# !*txt
# !*.png
# !*.jpg
# !*.jpeg
# !*.gif
# !*.bmp
# !*.webp
# !*.ico
# !*.svg
# !*.tif
# !*.tiff
# !*.zip
